/*
    Color Palette: Blue Colors
    Description: Slightly different graphics, lots of blue. 
    Author: TwinCitiesTech.com
    Version: 1.0
    Tags: blark, maroon, gray
 
    Use this file as an example for your own customizations.
    Although this is intended for color palettes, it can be used for any custom CSS.
    The custom CSS file are loaded after style.css, so any attributes in here take precedence over same attributes in style.css.
*/

.bottom_of_page_menu {
  background: #48627A;
}

#body_container .main .properties_pagination a.nav.prev, #nocolumns .main .properties_pagination a.nav.prev {
  background: url(colors/blue/spriteblue-blue.png) no-repeat scroll -16px -554px transparent;
}
#body_container .main ul.wpp_feature_list li {
  background: #EAECF9;
}

#body_container .main .properties_pagination a.nav.next, #nocolumns .main .properties_pagination a.nav.next{
  background: url(colors/blue/spriteblue-blue.png) no-repeat scroll -16px -528px transparent;
}

 #body_container.container .entry-content .wpp_agents_content_agent_card {
  background: #E8E8E8;
  -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
} 
.main-nav li.current-menu-ancestor:hover span.menu,
.main-nav li.current-menu-ancestor span.menu, .main-nav li.current_page_item span.menu, .main-nav li.current-menu-item span.menu {
  background-color: #D1DAE9;
  background-image: none;
}


.sidebar .wpp_search_properties_widget .wpp_search_button {
background: url(colors/blue/spriteblue-blue.png) no-repeat 0 -432px ;
}

.main-nav ul.children li.page_item a:hover span, 
.main-nav ul.sub-menu li.menu-item a:hover span {
    color: #FFF;            
}
        
.main-nav li.current-menu-ancestor ul.children, 
.main-nav li.current-menu-ancestor ul.sub-menu {
    background: #D1DAE9;
}

.main-nav ul.children, .main-nav ul.sub-menu,
.main-nav ul.children, .main-nav ul.sub-menu {
    background: #565659;
}
/* SECONDARY NAVIGATION */
ul.header-sub-menu {
  background-color: #7CA1C1;
  }
ul.header-sub-menu .menu-item:hover {
  background-color: #63819D;
  }
.header_business_card .phone, .header_business_card .address { font-family: Myriad Pro; font-size:15px; text-transform: uppercase; }

.header_business_card .phone { font-size: 18px; color: #991a1c;}
.header_business_card .phone .number { color: #424242;}

.header_business_card .address { color: #000; }

.equal_housing_icon {
    background: url(colors/blue/spriteblue-blue.png) no-repeat scroll 0 -1208px transparent;
}

#content .main .properties_pagination a.nav.next,#nocolumns .main .properties_pagination a.nav.next {
background:url(colors/blue/spriteblue-blue.png) no-repeat -16px -528px;
}

#content .main .properties_pagination a.nav.prev,#nocolumns .main .properties_pagination a.nav.prev {
background:url(colors/blue/spriteblue-blue.png) no-repeat -16px -554px;
}

#content .main #property_stats.overview_stats {
background:#E4E4E4;
}

#content .main .content_horizontal_widget{
color: white;
}

#content .main .content_horizontal_widget h2 {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -65px;
}

#content .main .wpp_row_view ul.wpp_overview_data .icon_bathrooms,#nocolumns .main .wpp_row_view ul.wpp_overview_data .icon_bathrooms {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll -51px -697px #FFF;
}

#content .main .wpp_row_view ul.wpp_overview_data .icon_bedrooms,#nocolumns .main .wpp_row_view ul.wpp_overview_data .icon_bedrooms {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll -51px -671px #FFF;
}

#content .main .wpp_row_view ul.wpp_overview_data .icon_garage,#nocolumns .main .wpp_row_view ul.wpp_overview_data .icon_garage {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll -51px -721px #FFF;
}

#denali_contact_form label span {
color:#C2C2C2;
}

.continfo #map_canvas {
border:3px solid #848282;
}

.disbl {
background:#636260;
}

.disbl div .wpp_search_properties_widget input[type=submit] {
background:url("colors/blue/spriteblue-blue.png") no-repeat 0 -831px; text-indent: 0px; font-size: 15px; color: #fff;}
}

.disbl div .wpp_search_properties_widget label {
color:#CDCDCD;
}

.disbl div .wpp_search_properties_widget li.submit,.disbl div .wpp_search_properties_widget ul,.continfo,.header_dropdown_div .form { background:#7d95ad; }

.foot_cont,.continfo h5 {
color:#EDEDED;
}

/* FOOTER */

.footer {
background:#63819d;
border-bottom:6px solid #4b6782;
border-top:5px solid #4b6782;
}

.container .super_map_list ul.property_in_list_items li.supermap_list_title span {
  color: #2E2B3E;
}

.footer div .foot_last_list,
.footer div .foot_explore {
background: #6C8AA6;
}

.foot_explore  a {
  color: #FFCE32;
}
.footer div .foot_explore h5 {
color:#3d3b37;
}

.footer div .foot_last_list h5 {
color: #F5F5F5;
}
#body_container .main .content_horizontal_widget .property_widget_block {background-color: #f0f0f0; border: none;}
#body_container .main .content_horizontal_widget .property_widget_block ul.wpp_widget_attribute_list li span {color:#424242;}
.log_menu li.edit_post, .log_menu li.edit_post a, .log_menu li.edit_post {
    padding-left: 0px;}

 
.footer div span.copy {
background:#4b6782;
}


.footer div span.copy .left_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -37px;
}

.footer div span.copy .right_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -51px;
}

.footer-nav {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -471px;
}
.main-nav li.current-menu-item span.menu span, .main-nav li.current_page_item span.menu,
.main-nav li.current-menu-item span.menu span, .main-nav li.current_page_item:hover span.menu {
    background-image: none;
    background-color: #D1DAE9;
}
.footer-nav li span.menu span.left_top,.footer-nav li.current_page_item span.menu span.left_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -528px;
}

.footer-nav li span.menu span.right_top,.footer-nav li.current_page_item span.menu span.right_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -541px;
}

.footer div .foot_explore ul li {list-style-image:none; list-style:none; padding-left:15px; background-image: url("colors/blue/spriteblue-blue.png"); background-position: 542px -4px; repeat: no-repeat; }

.inner_footer * .blogroll li a{
color: white;
}

/* OPTIONS MENU */

.log_menu li, .log_menu li.option_tab {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll 0 -965px transparent; margin-top: 5px;}

.log_menu li .left {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -554px;
}

.log_menu li .right {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -570px;
}

.log_menu li a {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll right -9px; transparent; color: white;
}

.log_menu li a.act {
background:url("colors/blue/spriteblue-blue.png") no-repeat scroll right -80px transparent;
}

.log_menu li.find_top {
background:url(colors/blue/spriteblue-blue.png) -264px -529px no-repeat; margin-top: 5px;
}

.log_menu li.option_tab { background-color: none; background-image: none; padding-left: 10px}
.log_menu li.option_tab a {color: black;}

.log_menu li.dropdown_tab_login a {background: transparent;}


.log_menu li.find_top.act { background:url(colors/blue/spriteblue-blue.png) -51px -529px no-repeat; }

.log_menu li.dropdown_tab_contact_us {
-moz-background-clip: border;
-moz-background-origin: padding;
-moz-background-size: auto auto;
background-attachment: scroll;
background-color: #769FBD;
background-image: none;
background-position: 0 0;
background-repeat: repeat;
}

/* LOGO */

.logo a {

}

.main-nav {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -586px;
}

.main-nav li.current_page_item span.menu span.left_top,.main-nav li.current-menu-item span.menu span.left_top,.main-nav li.current_page_item:hover span.menu span.left_top,.main-nav li.current-menu-item:hover span.menu span.left_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -643px;
}

.main-nav li.current_page_item span.menu span.link_text,.main-nav li.current-menu-item span.menu span.link_text {
color:#396192;
}

.main-nav li.current_page_item span.menu span.right_top,.main-nav li.current-menu-item span.menu span.right_top,.main-nav li.current_page_item:hover span.menu span.right_top,.main-nav li.current-menu-item:hover span.menu span.right_top {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -657px;
}

.main-nav li:hover span.menu {
background:#656565;
}

.phone {
color:#000;
}

.phone span {
color:#A03131;
}

.slide #global_property_search_home {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -118px;
}

.slide .nivo-directionNav .nivo-nextNav {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -671px !important;
}

.slide .nivo-directionNav .nivo-prevNav {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -751px !important;
}

.slide .wpp_search_properties_widget .wpp_search_button {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -432px;
}

.view-all a {
background:url(colors/blue/spriteblue-blue.png) no-repeat 0 -910px;
}

input[type=submit] {
background:url(colors/blue/spriteblue-blue.png) no-repeat;
}
#body_container .entry-content code {
    background: #FBFFED;
}

#body_container .wp-caption {
    background: #FFF;
}

.sld-flexible { padding-top: 12px; padding-bottom: 10px; }
body.single-property .sld-flexible { padding-top: 12px; padding-bottom: 10px; margin-bottom: 15px;}
.sld, .sld-flexible {background-color: #d1dae9;}
.sld-flexible .sld-top {background:url("colors/blue/spriteblue-blue.png") no-repeat scroll 0 -1250px transparent;}
.sld-flexible .sld-bottom {background:url("colors/blue/spriteblue-blue.png") no-repeat scroll 0 -1257px transparent;}

/*
.main-nav li.current-menu-ancestor  span.menu,
.main-nav li.current-menu-ancestor:hover span.menu,
.main-nav li.current-menu-item span.menu,
.main-nav li.current_page_item span.menu
.main-nav li.current_page_item:hover span.menu,
.main-nav li.current-menu-item:hover span.menu
{background: url("colors/blue/spriteblue-blue.png") no-repeat scroll 0 -1053px transparent; }
*/

.main-nav li:hover span.menu { background-image: url("colors/blue/spriteblue-blue.png"); background-position: 530px 490px; }

.main-nav li.current-menu-item span.menu span,
.main-nav li.current_page_item span.menu span 
{background-image: url("colors/blue/spriteblue-blue.png"); background-position: 460px 800px; padding: 10px 5px 10px 5px; margin-top: 10px; margin-bottom: 10px; -moz-border-radius: 5px; -moz-box-shadow: 0px 0px 1px #416587; -webkit-box-shadow: 0px 0px 1px #416587; box-shadow: 0px 0px 1px #416587; border-radius: 5px; -webkit-border-radius: 5px;}

.main-nav li.current_page_item ul.sub-menu   span,
.main-nav li.current-menu-ancestor  ul.sub-menu   span {
-moz-box-shadow: none;
}

.disbl { background-color: #63819d; }
/* .container {box-shadow: 0 0 71px #fff; -moz-box-shadow: 0 0 71px #fff; -webkit-box-shadow: 0 0 71px #fff;} */
.container, .container .midd, .menu-footer-container {background-color: #f0f0f0; }

.menu-footer-container li a:hover {background-image:url("colors/blue/spriteblue-blue.png"); color:#3d3d3d; -moz-border-radius:5px; border-radius:5px; -webkit-border-radius:5px; padding-bottom:5px; background-position:-547px -532px;}

.wrapper { background-image: url('colors/blue/wood_bg.jpg'); background-repeat: repeat;}

#body_container .main .content_horizontal_widget .denali_widget {background-color:#5e7e97;}

.widget_featuredpropertieswidget .wpp_featured_properties_widget h5 {color: #676767;}
 
.widget_featuredpropertieswidget .wpp_featured_properties_widget .attribute {color:676767;}
.widget_featuredpropertieswidget .wpp_featured_properties_widget .price .value {color: #991A1C; font-size: 16px; font-weight: bold;}
.widget_featuredpropertieswidget .wpp_featured_properties_widget li .value {font-size: 16px; font-weight: bold;}

.sidebar ul li.widget, .sidebar .denali_widget { border:0; }
.midd h2.widgettitle, h5 {text-shadow: 1px 1px 2px #989898;}

.body_upper_background { border-top: 5px solid #416587;}

.disbl div .wpp_search_properties_widget label{color: white;}

.slide .wpp_search_properties_widget .wpp_search_button { text-indent: 0px; font-size: 12px;}

#body_container .entry-content .wpp_shortcode_search {
background-color: white;
border: 5px solid #D9D9D9;
}

.textwidget p span {font-family:PerpetuaTitlingMTLight;}

.container .super_map_list .super_map_list_property {background-color: #8CAFC8;}
.container .super_map_list .hide_filter {background-color:#456485; background-image: url("colors/blue/spriteblue-blue.png"); background-position:-400px -433px;}
.container .super_map_list .hide_filter a {color:#fff; text-decoration: none;}
.container .super_map_list .map_filters {background-color: #f7f7f7; }
#respond {background-color:#f7f7f7;}
#respond textarea { width:97%;}
#respond #commentform {max-width: 602px;}

#content.property_content .sidebar  {
  padding-top: 0;
}
.sidebar ul .wpp_widget {
  background-color: transparent !important;
}
 .sidebar .wpp_featured_properties_widget .property_widget_block p.title a {
  color: #363636;
}

.wrapper .footer .foot_explore h5 {color: #f7f7f7;}
#body_container .main .wpp_row_view, #nocolumns .main .wpp_row_view{background-color: #f2cf21;}
#body_container .main .wpp_row_view .property_title a, #nocolumns .main .wpp_row_view .property_title a {color: #4b6782;}
#nocolumns .main .wpp_row_view ul.wpp_overview_data .property_price, #body_container .main .wpp_row_view ul.wpp_overview_data .property_price {color: #d2723f;}

.main-nav .current_page_item ul.children, 
.main-nav .current-menu-item ul.sub-menu {
    background: #D1DAE9;
}

/* SINGLE ENTRY */

#body_container .main #property_stats.overview_stats dd {background-color: #f0f0f0;}
#body_container .main #property_stats.overview_stats dd.alt {background-color: #D1DAE9;}
#body_container .main #property_stats.overview_stats {background-color: white; border: none;}
#body_container.single-property  .main  {padding: 10px;margin-top: 10px;}
#body_container .main #property_stats.overview_stats dt {color: #991a1c;}

.header_dropdown_div .wpp_search_properties_widget form ul.wpp_search_elements li.submit {
padding: 20px 10px 17px 10px;
margin: 0px 15px;
}

/* Blog, categories, tags, archives */
.navigation .nav-previous a, .navigation .nav-next a, .post h2 .date{
background-color: #406486;
}
.blog .post {
background-color: white;
}
.post {
border: 5px solid #D1DAE9;
}
.single-property .property .entry-content {
padding:10px 2px;
}
.property_map_wrapper {margin: 3px;}